/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

/* timer */
body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.container {
  margin-bottom: 20px;
}

.date-time-picker {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

input {
  width: 260px;
  padding: 10px;
  margin-right: 10px;
}

button {
  width: 100px;
  padding: 9px;
  font-size: 16px;
  cursor: pointer;
}

.timer {
  width: 400px;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
}

.field {
  text-align: center;
}

.value {
  font-size: 42px;
  display: block;
}

.label {
  font-size: 14px;
  color: black;
  text-transform: uppercase;
}

/* snackbar */
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label-snackbar {
  display: flex;
  flex-direction: column;
}

.label-snackbar > label {
  margin-bottom: 0;
}

.label-snackbar > input {
  margin-top: 0;
}

.input-snackbar[type='number'],
.button-snackbar {
  width: 300px;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

fieldset {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  width: 300px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

input[type='radio'] {
  display: none;
}

label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.custom-radio {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border: 2px solid #ccc;
  border-radius: 50%;
  background: white;
}

input[type='radio']:checked + .custom-radio {
  background: white;
  border-color: #ccc;
}

input[type='radio']:checked + .custom-radio::after {
  content: '';
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: black;
}
